.scrollable-x {
    overflow-x: auto;
}

.scrollable-y {
    overflow-y: auto;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-bot-5 {
    padding-bottom: 5px;
}

.center-vertical {
    vertical-align: middle;
}

.blue.tabs .tab a {
    color: white;
}

.blue.tabs .tab a:hover {
    color: lightgrey;
}

.blue.tabs .indicator {
    background-color: white;
    bottom: 2px;
}

.collapsible-header.blue.white-text {
    padding-top: 0.82rem;
    padding-bottom: 0.656rem;
    font-size: 1.64rem;
}

.dropdown-content li.disabled > a,
.dropdown-content li.disabled > a:hover {
    background-color: #FFFFFF;
    color: #555555;
}

.fit-height {
    height: 3.5em;
}

h5.col {
    padding: 0 !important;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}