<div class="row valign-wrapper">
    <h4 class=" col s12 m8 valign">Configure Access Control</h4>
    <div class="valign col s8 m4">
        <div class="col s12 m6 input-field">
            <a class="btn waves-effect waves-light green col s12 m12" ng-click="saveProject()">
                <i class="material-icons left">done</i>Save
            </a>
        </div>
        <div class="col s12 m6 input-field">
            <a class="btn waves-effect waves-light red col s12 m12" ng-href="/#/projects/{{ project._id }}">
                <i class="material-icons left">power_settings_new</i>Back
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="row">
        <ul class="tabs blue lighten-2">
            <li class="tab col"><a class="active" href="#INSTRUCTIONS">
                <i class="material-icons right">announcement</i>Instructions</a>
            </li>
            <li class="col tab" ng-repeat="(module, actors) in project.accessControlData track by $index">
                <a href="{{ $formatter.asHtmlID(module) }}" ng-bind="module"></a>
            </li>
        </ul>
    </div>
    <div id="INSTRUCTIONS" class="row active">
        <div class="card blue-grey darken-1 hoverable">
            <div class="card-content white-text">
                <h4 class="card-title">Configure Access Control</h4>
                <p>For each module in this domain, the actor that the can access to the module can be controlled</p>
                <p>Check to allow actor to access to the selected module</p>
                <p>Uncheck to restrict the actor from accessing the selected module</p>
            </div>
        </div>
    </div>
    <div ng-repeat="(module, actors) in project.accessControlData" id="{{ module.replace(' ', '_') }}" class="row">
        <div class="input-field" ng-repeat="actor in project.domainData.actors">
            <input id="{{ module.replace(' ', '_') }}.{{ actor.replace(' ', '_') }}" type="checkbox"
                   ng-model="actors[actor]">
            <label for="{{ module.replace(' ', '_') }}.{{ actor.replace(' ', '_') }}" ng-bind="actor"></label>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        $('ul.tabs').tabs();
    }, 500);
</script>