<div class="row valign-wrapper">
    <h4 class=" col s12 m8 valign">Configure Access Control</h4>
    <div class="valign col s8 m4">
        <div class="col s12 m6 input-field">
            <a class="btn waves-effect waves-light green col s12 m12" ng-click="saveProject()">
                <i class="material-icons left">done</i>Save
            </a>
        </div>
        <div class="col s12 m6 input-field">
            <a class="btn waves-effect waves-light red col s12 m12" ng-href="/#/projects/{{ project._id }}">
                <i class="material-icons left">power_settings_new</i>Back
            </a>
        </div>
    </div>
</div>
<div class="row">
    <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
        <li>
            <div class="collapsible-header active blue white-text">
                Instructions<i class="material-icons right">announcement</i>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <p>
                        For each module in this domain, the actor that the can access to the module can be controlled
                        <br/>
                        Check to allow actor to access to the selected module
                        <br/>
                        Uncheck to restrict the actor from accessing the selected module
                    </p>
                </div>
            </div>
        </li>
        <li ng-repeat="(module, actors) in project.accessControlData">
            <div class="collapsible-header active"><h5 ng-bind="module"></h5></div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="input-field" ng-repeat="actor in project.domainData.actors">
                        <input id="{{ module.replace(' ', '_') }}.{{ actor.replace(' ', '_') }}" type="checkbox"
                               ng-model="actors[actor]">
                        <label for="{{ module.replace(' ', '_') }}.{{ actor.replace(' ', '_') }}"
                               ng-bind="actor"></label>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<script>
    setTimeout(function () {
        $('.collapsible').collapsible({
            accordion: false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
    }, 500);
</script>