<div class="row valign-wrapper">
    <h4 class=" col s12 m8 valign">Configure Action Control</h4>
    <div class="valign col s8 m4">
        <div class="col s12 m6 input-field">
            <a class="btn waves-effect waves-light green col s12 m12" ng-click="saveProject()">
                <i class="material-icons left">done</i>Save
            </a>
        </div>
        <div class="col s12 m6 input-field">
            <a class="btn waves-effect waves-light red col s12 m12" ng-href="/#/projects/{{ project._id }}">
                <i class="material-icons left">power_settings_new</i>Back
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="row">
        <ul class="tabs blue lighten-2">
            <li class="tab col"><a class="active" href="#INSTRUCTIONS">
                <i class="material-icons right">announcement</i>Instructions</a>
            </li>
            <li class="col tab" ng-repeat="(actor, actions) in project.actionControlData">
                <a href="{{ $formatter.asHtmlID(actor) }}" ng-bind="actor"></a>
            </li>
        </ul>
    </div>
    <div id="INSTRUCTIONS" class="row active">
        <div class="card blue-grey darken-1 hoverable">
            <div class="card-content white-text">
                <h4 class="card-title">Configure Action Control</h4>
                <p>For each actor in this domain, the action that the actor can perform can be controlled</p>
                <p>Check to allow actor to performed selected action</p>
                <p>Uncheck to restrict the actor from performing selected action</p>
            </div>
        </div>
    </div>
    <div ng-repeat="(actor, actions) in project.actionControlData" id="{{ actor.replace(' ', '_') }}" class="row">
        <div class="input-field" ng-repeat="action in project.domainData.actions">
            <input id="{{ actor.replace(' ', '_') }}.{{ action.replace(' ', '_') }}" type="checkbox"
                   ng-model="actions[action]">
            <label for="{{ actor.replace(' ', '_') }}.{{ action.replace(' ', '_') }}" ng-bind="action"></label>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        $('ul.tabs').tabs();
    }, 500);
</script>