<div class="col-sm-12 padding-top-5 padding-bot-5 darkgrey">
    <div class="form-group col-sm-3">
        <a class="btn form-control" ng-href="/#/projects/{{ project._id }}">Back</a>
    </div>
    <div class="form-group col-sm-offset-6 col-sm-3">
        <a class="btn btn-success form-control" ng-Click="saveProject()">Save Project</a>
    </div>
</div>
<div class="col-sm-12">
    <ul class="col-sm-2 nav nav-pills">
        <li class="disabled"><a>Select Actor:</a></li>
    </ul>
    <div class="col-sm-10 scrollable-x">
        <ul class="nav nav-pills">
            <li ng-repeat="(actor, actions) in project.actionControlData">
                <a data-toggle="pill" href="!#{{ actor.replace(' ', '_') }}">{{ actor }}</a>
            </li>
        </ul>
    </div>
</div>
<div class="col-sm-12 tab-content margin-top-10">
    <div ng-repeat="(actor, actions) in project.actionControlData" id="{{ actor.replace(' ', '_') }}" class="tab-pane fade in">
        <div ng-repeat="(action, value) in project.domainData.actions">
            <input id="{{ actor.replace(' ', '_') }}.{{ action.replace(' ', '_') }} " type="checkbox" ng-model="actions[action]">
            <label for="{{ actor.replace(' ', '_') }}.{{ action.replace(' ', '_') }} ">{{ action }}</label>
        </div>
    </div>
</div>