<div class="row valign-wrapper">
    <h4 class=" col s12 m8 valign">Configure Action Control</h4>
    <div class="valign col s8 m4">
        <div class="col s12 m6 input-field">
            <a class="btn waves-effect waves-light green col s12 m12" ng-click="saveProject()">
                <i class="material-icons left">done</i>Save
            </a>
        </div>
        <div class="col s12 m6 input-field">
            <a class="btn waves-effect waves-light red col s12 m12" ng-click="back()">
                <i class="material-icons left">power_settings_new</i>Back
            </a>
        </div>
    </div>
</div>
<div class="row">
    <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
        <li>
            <div class="collapsible-header active blue white-text">
                Instructions<i class="material-icons right">announcement</i>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <p>
                        For each actor in this domain, you can control whether the actor can perform which action
                        <br/>
                        This act like an use case for each actor
                        <br/>
                        - Check to allow actor to performed selected action
                        <br/>
                        - Uncheck to restrict the actor from performing selected action
                    </p>
                </div>
            </div>
        </li>
        <li ng-repeat="(actor, actions) in project.actionControlData">
            <div class="collapsible-header active">
                <h5>
                    <span ng-bind="actor"></span>
                    <span class="badge white-text light-green"
                          ng-bind="getAllowedCount(actions)"
                          ng-if="project.domainData.actions.length > 0"></span>
                </h5>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="input-field" ng-repeat="action in project.domainData.actions">
                        <input id="{{ actor.replace(' ', '_') }}.{{ action.replace(' ', '_') }}" type="checkbox"
                               ng-model="actions[action]" ng-change="change()">
                        <label for="{{ actor.replace(' ', '_') }}.{{ action.replace(' ', '_') }}"
                               ng-bind="action"></label>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>