<div class="row valign-wrapper">
    <h4 class=" col s12 m8 valign">Configure Boilerplate</h4>
    <div class="valign col s8 m4">
        <div class="col s12 m6 input-field">
            <a class="btn waves-effect waves-light green col s12 m12" ng-click="saveProject()">
                <i class="material-icons left">done</i>Save
            </a>
        </div>
        <div class="col s12 m6 input-field">
            <a class="btn waves-effect waves-light red col s12 m12" ng-click="back()">
                <i class="material-icons left">power_settings_new</i>Back
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="row">
        <ul class="tabs blue lighten-2">
            <li class="tab col s4 m4"><a class="active" href="#INSTRUCTIONS">
                <i class="material-icons right">announcement</i>Instructions</a>
            </li>
            <li class="tab col s4 m4"><a href="#module_boilerplate">Configure Module Boilerplate</a></li>
        </ul>
    </div>
    <div id="INSTRUCTIONS" class="row active">
        <div class="card blue-grey darken-1 hoverable">
            <div class="card-content white-text row">
                <div class="col s12 m6">
                    <h5 class="card-title">Q: What is a requirement boilerplate and how it generates requirement?</h5>
                    <p>
                        To generate your requirements from your specification in the previous modules (Access Control,
                        Action Control, etc), requirement boilerplate will be used to map the values into requirements.
                    </p>
                    <br/>
                    <p>
                        You may configure these boilerplates to generate the requirement that best suit your needs, such
                        as prefixing terms or cutting off unnecessary terms.
                    </p>
                    <br/>
                    <p>
                        The idea of requirement boilerplate is to use &lt;angle brackets&gt; to enclose a word, which is
                        known as <strong>placeholders</strong>, and then later, fill in appropriate values for the
                        placeholder
                    </p>
                </div>
                <div class="col s12 m6">
                    <img class="materialboxed margin-top-10" width="500px" src="./images/configure_boilerplate.png"
                         data-caption="Flowchart on how requirement boilerplate works and how requirements are generated">
                </div>
            </div>
        </div>
    </div>
    <div id="module_boilerplate" class="row">
        <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
            <li>
                <div class="collapsible-header active"><h5>Access Control Module</h5></div>
                <div class="collapsible-body">
                    <div class="row margin-top-10 valign-wrapper">
                        <div class="col s6 m8 valign"
                             ng-bind="'Available placeholders: <actor>, <module>'"></div>
                        <div class="col s6 m4 valign">
                            <button class="btn waves-effect waves-light col s12 m12"
                                    ng-click="restore('accessControl')">
                                Restore Default Boilerplate
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="col s12 m6">
                                <label for="accessControl.true">For allowed actors</label>
                                <input id="accessControl.true" ng-change="change()"
                                       ng-model="project.boilerplateData.accessControl.true"/>
                            </div>
                            <div class="col s12 m6">
                                <label for="accessControl.true.example">Example</label>
                                <input id="accessControl.true.example" readonly
                                       value="{{ requirementToString(project.boilerplateData.accessControl.true, $values.accessControl) }}"/>
                            </div>
                        </div>
                        <div clas="row">
                            <div class="col s12 m6">
                                <label for="accessControl.false">For restricted actors</label>
                                <input id="accessControl.false" ng-change="change()"
                                       ng-model="project.boilerplateData.accessControl.false"/>
                            </div>
                            <div class="col s12 m6">
                                <label for="accessControl.true.example">Example</label>
                                <input id="accessControl.false.example" readonly
                                       value="{{ requirementToString(project.boilerplateData.accessControl.false, $values.accessControl) }}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header active"><h5>Action Control Module</h5></div>
                <div class="collapsible-body">
                    <div class="row margin-top-10 valign-wrapper">
                        <div class="col s6 m8 valign"
                             ng-bind="'Available placeholders: <actor>, <action>'"></div>
                        <div class="col s6 m4 valign">
                            <button class="btn waves-effect waves-light col s12 m12"
                                    ng-click="restore('actionControl')">
                                Restore Default Boilerplate
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="col s12 m6">
                                <label for="actionControl.true">For allowed actions</label>
                                <input id="actionControl.true" ng-change="change()"
                                       ng-model="project.boilerplateData.actionControl.true"/>
                            </div>
                            <div class="col s12 m6">
                                <label for="actionControl.true.example">Example</label>
                                <input id="actionControl.true.example" readonly
                                       value="{{ requirementToString(project.boilerplateData.actionControl.true, $values.actionControl) }}"/>
                            </div>
                        </div>
                        <div clas="row">
                            <div class="col s12 m6">
                                <label for="actionControl.false">For restricted actions</label>
                                <input id="actionControl.false" ng-change="change()"
                                       ng-model="project.boilerplateData.actionControl.false"/>
                            </div>
                            <div class="col s12 m6">
                                <label for="actionControl.true.example">Example</label>
                                <input id="actionControl.false.example" readonly
                                       value="{{ requirementToString(project.boilerplateData.actionControl.false, $values.actionControl ) }}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header active"><h5>Performance Constraint Module</h5></div>
                <div class="collapsible-body">
                    <div class="row margin-top-10 valign-wrapper">
                        <div class="col s6 m8 valign"
                             ng-bind="'Available placeholders: <constraint>, <action>, <value>'"></div>
                        <div class="col s6 m4 valign">
                            <button class="btn waves-effect waves-light col s12 m12"
                                    ng-click="restore('performanceConstraint')">
                                Restore Default Boilerplate
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row"
                             ng-repeat="(option, boilerplate) in project.boilerplateData.performanceConstraint">
                            <div class="col s12 m6">
                                <label for="performanceConstraint.{{ option }}">For "{{ option }}" option</label>
                                <input id="performanceConstraint.{{ option }}"
                                       ng-change="change()"
                                       ng-model="project.boilerplateData.performanceConstraint[option]"/>
                            </div>
                            <div class="col s12 m6">
                                <label for="performanceConstraint.{{ option }}.example">Example</label>
                                <input id="performanceConstraint.{{ option }}.example" readonly
                                       value="{{ requirementToString(project.boilerplateData.performanceConstraint[option],
                                       $values.performanceConstraint) }}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header active"><h5>Functional Constraint Module</h5></div>
                <div class="collapsible-body">
                    <div class="row margin-top-10 valign-wrapper">
                        <div class="col s6 m8 valign"
                             ng-bind="'Available placeholders: <system>, <interface>, <dependency>, <condition>, <dependentAction>, <action>, <rule>'"></div>
                        <div class="col s6 m4 valign">
                            <button class="btn waves-effect waves-light col s12 m12"
                                    ng-click="restore('functionalConstraint')">
                                Restore Default Boilerplate
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="functionalConstraint.interface.0">
                                Interface without dependency or condition
                            </label>
                            <input id="functionalConstraint.interface.0" ng-change="change()"
                                   ng-model="project.boilerplateData.functionalConstraint.interface[0]"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="functionalConstraint.interface.0.example">Example</label>
                            <input id="functionalConstraint.interface.0.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.functionalConstraint.interface[0],
                                       $values.functionalConstraint.interface) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="functionalConstraint.interface.1">
                                Interface with dependency
                            </label>
                            <input id="functionalConstraint.interface.1" ng-change="change()"
                                   ng-model="project.boilerplateData.functionalConstraint.interface[1]"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="functionalConstraint.interface.1.example">Example</label>
                            <input id="functionalConstraint.interface.1.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.functionalConstraint.interface[1],
                                       $values.functionalConstraint.interface) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="functionalConstraint.interface.2">
                                Interface with condition
                            </label>
                            <input id="functionalConstraint.interface.2" ng-change="change()"
                                   ng-model="project.boilerplateData.functionalConstraint.interface[2]"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="functionalConstraint.interface.2.example">Example</label>
                            <input id="functionalConstraint.interface.2.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.functionalConstraint.interface[2],
                                       $values.functionalConstraint.interface) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="functionalConstraint.interface.3">
                                Interface with both dependency and condition
                            </label>
                            <input id="functionalConstraint.interface.3" ng-change="change()"
                                   ng-model="project.boilerplateData.functionalConstraint.interface[3]"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="functionalConstraint.interface.3.example">Example</label>
                            <input id="functionalConstraint.interface.3.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.functionalConstraint.interface[3],
                                       $values.functionalConstraint.interface) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="functionalConstraint.actionDependencies.true">
                                Action shall trigger dependent action
                            </label>
                            <input id="functionalConstraint.actionDependencies.true" ng-change="change()"
                                   ng-model="project.boilerplateData.functionalConstraint.actionDependencies.true"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="functionalConstraint.actionDependencies.true.example">Example</label>
                            <input id="functionalConstraint.actionDependencies.true.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.functionalConstraint.actionDependencies.true,
                                       $values.functionalConstraint.actionDependencies) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="functionalConstraint.actionDependencies.false">
                                Action shall not trigger dependent action
                            </label>
                            <input id="functionalConstraint.actionDependencies.false" ng-change="change()"
                                   ng-model="project.boilerplateData.functionalConstraint.actionDependencies.false"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="functionalConstraint.actionDependencies.false.example">Example</label>
                            <input id="functionalConstraint.actionDependencies.false.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.functionalConstraint.actionDependencies.false,
                                       $values.functionalConstraint.actionDependencies) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="functionalConstraint.actionRules.true">
                                Action shall based on rule
                            </label>
                            <input id="functionalConstraint.actionRules.true" ng-change="change()"
                                   ng-model="project.boilerplateData.functionalConstraint.actionRules.true"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="functionalConstraint.actionRules.true.example">Example</label>
                            <input id="functionalConstraint.actionRules.true.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.functionalConstraint.actionRules.true,
                                       $values.functionalConstraint.actionRules) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="functionalConstraint.actionDependencies.false">
                                Action shall not based on rule
                            </label>
                            <input id="functionalConstraint.actionRules.false" ng-change="change()"
                                   ng-model="project.boilerplateData.functionalConstraint.actionRules.false"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="functionalConstraint.actionRules.false.example">Example</label>
                            <input id="functionalConstraint.actionRules.false.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.functionalConstraint.actionRules.false,
                                       $values.functionalConstraint.actionRules) }}"/>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header active"><h5>Compatibility Module</h5></div>
                <div class="collapsible-body">
                    <div class="row margin-top-10 valign-wrapper">
                        <div class="col s6 m8 valign"
                             ng-bind="'Available placeholders: <system>, <operatingSystem>, <version>, <issue>, <software>, <output>, <newVersion>, <oldVersion>'"></div>
                        <div class="col s6 m4 valign">
                            <button class="btn waves-effect waves-light col s12 m12"
                                    ng-click="restore('compatibility')">
                                Restore Default Boilerplate
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="compatibility.operatingSystem.0">
                                Operating system compatibility with no version or issue
                            </label>
                            <input id="compatibility.operatingSystem.0" ng-change="change()"
                                   ng-model="project.boilerplateData.compatibility.operatingSystem[0]"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="compatibility.operatingSystem.0.example">Example</label>
                            <input id="compatibility.operatingSystem.0.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.compatibility.operatingSystem[0],
                                       $values.compatibility.operatingSystem) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="compatibility.operatingSystem.1">
                                Operating system compatibility with version but no issue
                            </label>
                            <input id="compatibility.operatingSystem.1" ng-change="change()"
                                   ng-model="project.boilerplateData.compatibility.operatingSystem[1]"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="compatibility.operatingSystem.1.example">Example</label>
                            <input id="compatibility.operatingSystem.1.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.compatibility.operatingSystem[1],
                                       $values.compatibility.operatingSystem) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="compatibility.operatingSystem.2">
                                Operating system compatibility with issue but no version
                            </label>
                            <input id="compatibility.operatingSystem.2" ng-change="change()"
                                   ng-model="project.boilerplateData.compatibility.operatingSystem[2]"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="compatibility.operatingSystem.2.example">Example</label>
                            <input id="compatibility.operatingSystem.2.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.compatibility.operatingSystem[2],
                                       $values.compatibility.operatingSystem) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="compatibility.operatingSystem.3">
                                Operating system compatibility with version and issue
                            </label>
                            <input id="compatibility.operatingSystem.3" ng-change="change()"
                                   ng-model="project.boilerplateData.compatibility.operatingSystem[3]"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="compatibility.operatingSystem.3.example">Example</label>
                            <input id="compatibility.operatingSystem.3.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.compatibility.operatingSystem[3],
                                       $values.compatibility.operatingSystem) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="compatibility.executionEnvironment.0">
                                Execution environment compatibility with no version or issue
                            </label>
                            <input id="compatibility.executionEnvironment.0" ng-change="change()"
                                   ng-model="project.boilerplateData.compatibility.executionEnvironment[0]"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="compatibility.executionEnvironment.0.example">Example</label>
                            <input id="compatibility.executionEnvironment.0.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.compatibility.executionEnvironment[0],
                                       $values.compatibility.executionEnvironment) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="compatibility.executionEnvironment.1">
                                Execution environment compatibility with version but no issue
                            </label>
                            <input id="compatibility.executionEnvironment.1" ng-change="change()"
                                   ng-model="project.boilerplateData.compatibility.executionEnvironment[1]"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="compatibility.executionEnvironment.1.example">Example</label>
                            <input id="compatibility.executionEnvironment.1.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.compatibility.executionEnvironment[1],
                                       $values.compatibility.executionEnvironment) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="compatibility.executionEnvironment.2">
                                Execution environment compatibility with issue but no version
                            </label>
                            <input id="compatibility.executionEnvironment.2" ng-change="change()"
                                   ng-model="project.boilerplateData.compatibility.executionEnvironment[2]"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="compatibility.executionEnvironment.2.example">Example</label>
                            <input id="compatibility.executionEnvironment.2.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.compatibility.executionEnvironment[2],
                                       $values.compatibility.executionEnvironment) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="compatibility.executionEnvironment.3">
                                Execution environment compatibility with version and issue
                            </label>
                            <input id="compatibility.executionEnvironment.3" ng-change="change()"
                                   ng-model="project.boilerplateData.compatibility.operatingSystem[3]"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="compatibility.executionEnvironment.3.example">Example</label>
                            <input id="compatibility.executionEnvironment.3.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.compatibility.executionEnvironment[3],
                                       $values.compatibility.executionEnvironment) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="compatibility.outputCompatibility.true">
                                Compatible output with new version
                            </label>
                            <input id="compatibility.outputCompatibility.true" ng-change="change()"
                                   ng-model="project.boilerplateData.compatibility.outputCompatibility.true"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="compatibility.outputCompatibility.true.example">Example</label>
                            <input id="compatibility.outputCompatibility.true.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.compatibility.outputCompatibility.true,
                                       $values.compatibility.outputCompatibility) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="compatibility.outputCompatibility.false">
                                Incompatible output with new version
                            </label>
                            <input id="compatibility.outputCompatibility.false" ng-change="change()"
                                   ng-model="project.boilerplateData.compatibility.outputCompatibility.false"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="compatibility.outputCompatibility.false.example">Example</label>
                            <input id="compatibility.outputCompatibility.false.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.compatibility.outputCompatibility.false,
                                       $values.compatibility.outputCompatibility) }}"/>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header active"><h5>Compatibility Module</h5></div>
                <div class="collapsible-body">
                    <div class="row margin-top-10 valign-wrapper">
                        <div class="col s6 m8 valign"
                             ng-bind="'Available placeholders: <system>, <value>, <period>, <time>, <failure>, <action>, <name>, <item>, <source>'"></div>
                        <div class="col s6 m4 valign">
                            <button class="btn waves-effect waves-light col s12 m12"
                                    ng-click="restore('reliability')">
                                Restore Default Boilerplate
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="reliability.availability">
                                Availability
                            </label>
                            <input id="reliability.availability" ng-change="change()"
                                   ng-model="project.boilerplateData.reliability.availability"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="reliability.availability.example">Example</label>
                            <input id="reliability.availability.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.reliability.availability,
                                       $values.reliability.availability) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="reliability.availability">
                                Maintenance
                            </label>
                            <input id="reliability.maintenance" ng-change="change()"
                                   ng-model="project.boilerplateData.reliability.maintenance"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="reliability.maintenance.example">Example</label>
                            <input id="reliability.maintenance.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.reliability.maintenance,
                                       $values.reliability.maintenance) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="reliability.recoveryPeriod.true">
                                Recovery period from failure with action
                            </label>
                            <input id="reliability.recoveryPeriod.true" ng-change="change()"
                                   ng-model="project.boilerplateData.reliability.recoveryPeriod.true"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="reliability.recoveryPeriod.true.example">Example</label>
                            <input id="reliability.recoveryPeriod.true.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.reliability.recoveryPeriod.true,
                                       $values.reliability.recoveryPeriod) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="reliability.recoveryPeriod.false">
                                Recovery period from failure without action
                            </label>
                            <input id="reliability.recoveryPeriod.false" ng-change="change()"
                                   ng-model="project.boilerplateData.reliability.recoveryPeriod.false"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="reliability.recoveryPeriod.false.example">Example</label>
                            <input id="reliability.recoveryPeriod.false.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.reliability.recoveryPeriod.false,
                                       $values.reliability.recoveryPeriod) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="reliability.redundancyOption.true">
                                Redundancy option with failure reason
                            </label>
                            <input id="reliability.redundancyOption.true" ng-change="change()"
                                   ng-model="project.boilerplateData.reliability.redundancyOption.true"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="reliability.redundancyOption.true.example">Example</label>
                            <input id="reliability.redundancyOption.true.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.reliability.redundancyOption.true,
                                       $values.reliability.redundancyOption) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="reliability.redundancyOption.false">
                                Redundancy option without failure reason
                            </label>
                            <input id="reliability.redundancyOption.false" ng-change="change()"
                                   ng-model="project.boilerplateData.reliability.redundancyOption.false"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="reliability.redundancyOption.false.example">Example</label>
                            <input id="reliability.redundancyOption.false.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.reliability.redundancyOption.false,
                                       $values.reliability.redundancyOption) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="reliability.recoveryItem.true">
                                Item recovery from failure with source
                            </label>
                            <input id="reliability.recoveryItem.true" ng-change="change()"
                                   ng-model="project.boilerplateData.reliability.recoveryItem.true"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="reliability.recoveryItem.true.example">Example</label>
                            <input id="reliability.recoveryItem.true.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.reliability.recoveryItem.true,
                                       $values.reliability.recoveryItem) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="reliability.recoveryItem.false">
                                Item recovery from failure without source
                            </label>
                            <input id="reliability.recoveryItem.false" ng-change="change()"
                                   ng-model="project.boilerplateData.reliability.recoveryItem.false"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="reliability.recoveryItem.false.example">Example</label>
                            <input id="reliability.recoveryItem.false.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.reliability.recoveryItem.false,
                                       $values.reliability.recoveryItem) }}"/>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header active"><h5>Security Module</h5></div>
                <div class="collapsible-body">
                    <div class="row margin-top-10 valign-wrapper">
                        <div class="col s6 m8 valign"
                             ng-bind="'Available placeholders: <system>, <item>, <actor>, <condition>, <algorithm>, <encryption>, <action>'"></div>
                        <div class="col s6 m4 valign">
                            <button class="btn waves-effect waves-light col s12 m12"
                                    ng-click="restore('security')">
                                Restore Default Boilerplate
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="security.itemAccess.true.0">
                                Accessible item with actor
                            </label>
                            <input id="security.itemAccess.true.0" ng-change="change()"
                                   ng-model="project.boilerplateData.security.itemAccess.true[0]"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="security.itemAccess.true.0.example">Example</label>
                            <input id="security.itemAccess.true.0.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.security.itemAccess.true[0],
                                       $values.security.itemAccess.true) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="security.itemAccess.true.1">
                                Accessible item with condition
                            </label>
                            <input id="security.itemAccess.true.1" ng-change="change()"
                                   ng-model="project.boilerplateData.security.itemAccess.true[1]"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="security.itemAccess.true.1.example">Example</label>
                            <input id="security.itemAccess.true.1.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.security.itemAccess.true[1],
                                       $values.security.itemAccess.true) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="security.itemAccess.true.2">
                                Accessible item with actor and condition
                            </label>
                            <input id="security.itemAccess.true.2" ng-change="change()"
                                   ng-model="project.boilerplateData.security.itemAccess.true[2]"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="security.itemAccess.true.2.example">Example</label>
                            <input id="security.itemAccess.true.2.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.security.itemAccess.true[2],
                                       $values.security.itemAccess.true) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="security.itemAccess.false.0">
                                Inaccessible item with actor
                            </label>
                            <input id="security.itemAccess.false.0" ng-change="change()"
                                   ng-model="project.boilerplateData.security.itemAccess.false[0]"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="security.itemAccess.false.0.example">Example</label>
                            <input id="security.itemAccess.false.0.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.security.itemAccess.false[0],
                                       $values.security.itemAccess.false) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="security.itemAccess.false.1">
                                Inaccessible item with condition
                            </label>
                            <input id="security.itemAccess.false.1" ng-change="change()"
                                   ng-model="project.boilerplateData.security.itemAccess.false[1]"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="security.itemAccess.false.1.example">Example</label>
                            <input id="security.itemAccess.false.1.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.security.itemAccess.false[1],
                                       $values.security.itemAccess.false) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="security.itemAccess.false.2">
                                Inaccessible item with actor and condition
                            </label>
                            <input id="security.itemAccess.false.2" ng-change="change()"
                                   ng-model="project.boilerplateData.security.itemAccess.false[2]"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="security.itemAccess.false.2.example">Example</label>
                            <input id="security.itemAccess.false.2.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.security.itemAccess.false[2],
                                       $values.security.itemAccess.false) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="security.validation">
                                Item Validation
                            </label>
                            <input id="security.validation" ng-change="change()"
                                   ng-model="project.boilerplateData.security.validation"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="security.validation.example">Example</label>
                            <input id="security.validation.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.security.validation,
                                       $values.security.validation) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="security.encryption">
                                Encryption
                            </label>
                            <input id="security.encryption" ng-change="change()"
                                   ng-model="project.boilerplateData.security.encryption"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="security.encryption.example">Example</label>
                            <input id="security.encryption.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.security.encryption,
                                       $values.security.encryption) }}"/>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header active"><h5>Usability Module</h5></div>
                <div class="collapsible-body">
                    <div class="row margin-top-10 valign-wrapper">
                        <div class="col s6 m8 valign"
                             ng-bind="'Available placeholders: <system>, <attribute>, <reason>, <actor>, <action>, <field>, <error>, <reason>, <accessibilityOption>, <target>'"></div>
                        <div class="col s6 m4 valign">
                            <button class="btn waves-effect waves-light col s12 m12"
                                    ng-click="restore('usability')">
                                Restore Default Boilerplate
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="usability.userInterface.true">
                                User interface attribute with reason
                            </label>
                            <input id="usability.userInterface.true" ng-change="change()"
                                   ng-model="project.boilerplateData.usability.userInterface.true"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="usability.userInterface.true.example">Example</label>
                            <input id="usability.userInterface.true.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.usability.userInterface.true,
                                       $values.usability.userInterface) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="usability.userInterface.false">
                                User interface attribute without reason
                            </label>
                            <input id="usability.userInterface.false" ng-change="change()"
                                   ng-model="project.boilerplateData.usability.userInterface.false"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="usability.userInterface.false.example">Example</label>
                            <input id="usability.userInterface.false.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.usability.userInterface.false,
                                       $values.usability.userInterface) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="usability.tutorial.true">
                                Tutorial with actor
                            </label>
                            <input id="usability.tutorial.true" ng-change="change()"
                                   ng-model="project.boilerplateData.usability.tutorial.true"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="usability.tutorial.true.example">Example</label>
                            <input id="usability.tutorial.true.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.usability.tutorial.true,
                                       $values.usability.tutorial) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="usability.tutorial.false">
                                Tutorial without actor
                            </label>
                            <input id="usability.tutorial.false" ng-change="change()"
                                   ng-model="project.boilerplateData.usability.tutorial.false"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="usability.tutorial.false.example">Example</label>
                            <input id="usability.tutorial.false.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.usability.tutorial.false,
                                       $values.usability.tutorial) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="usability.inputValidation.true">
                                Input validation with error stated
                            </label>
                            <input id="usability.inputValidation.true" ng-change="change()"
                                   ng-model="project.boilerplateData.usability.inputValidation.true"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="usability.inputValidation.true.example">Example</label>
                            <input id="usability.inputValidation.true.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.usability.inputValidation.true,
                                       $values.usability.inputValidation) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="usability.inputValidation.false">
                                Input validation without error stated
                            </label>
                            <input id="usability.inputValidation.false" ng-change="change()"
                                   ng-model="project.boilerplateData.usability.inputValidation.false"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="usability.inputValidation.false.example">Example</label>
                            <input id="usability.inputValidation.false.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.usability.inputValidation.false,
                                       $values.usability.inputValidation) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="usability.errorPrevention.true">
                                Error prevention with reason
                            </label>
                            <input id="usability.errorPrevention.true" ng-change="change()"
                                   ng-model="project.boilerplateData.usability.errorPrevention.true"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="usability.errorPrevention.true.example">Example</label>
                            <input id="usability.errorPrevention.true.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.usability.errorPrevention.true,
                                       $values.usability.errorPrevention) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="usability.errorPrevention.false">
                                Error prevention without reason
                            </label>
                            <input id="usability.errorPrevention.false" ng-change="change()"
                                   ng-model="project.boilerplateData.usability.errorPrevention.false"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="usability.errorPrevention.false.example">Example</label>
                            <input id="usability.errorPrevention.false.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.usability.errorPrevention.false,
                                       $values.usability.errorPrevention) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="usability.accessibility">
                                Accessibility Option
                            </label>
                            <input id="usability.accessibility" ng-change="change()"
                                   ng-model="project.boilerplateData.usability.accessibility"/>
                        </div>
                        <div class="col s12 m6">
                            <label for="usability.accessibility.example">Example</label>
                            <input id="usability.accessibility.example" readonly
                                   value="{{ requirementToString(project.boilerplateData.usability.accessibility,
                                       $values.usability.accessibility) }}"/>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script>
    setTimeout(function () {
        $('ul.tabs').tabs();
        Materialize.updateTextFields();
        $('.collapsible').collapsible({
            accordion: false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
        $('.materialboxed').materialbox();
    }, 500);
</script>