<div class="row valign-wrapper">
    <h4 class="col s12 m8 valign">Selected Domain: <span ng-bind="project.domainData.domainName"></span></h4>
    <div class="valign col s8 m4">
        <div class="col s12 m6 input-field">
            <a class="btn waves-effect waves-light green col s12 m12" ng-click="saveProject()">
                <i class="material-icons left">done</i>Save
            </a>
        </div>
        <div class="col s12 m6 input-field">
            <a class="btn waves-effect waves-light red col s12 m12" ng-click="back()">
                <i class="material-icons left">power_settings_new</i>Back
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="row">
        <ul class="tabs blue lighten-2">
            <li class="tab col s3 m3"><a class="active" href="#INSTRUCTIONS">
                <i class="material-icons right">announcement</i>Instructions</a>
            </li>
            <li class="tab col s3 m3"><a href="#modules">Modules (<span
                    ng-bind="project.domainData.modules.length"></span>)</a></li>
            <li class="tab col s3 m3"><a href="#actors">Actors (<span ng-bind="project.domainData.actors.length"></span>)</a>
            </li>
            <li class="tab col s3 m3"><a href="#actions">Actions (<span
                    ng-bind="project.domainData.actions.length"></span>)</a></li>
        </ul>
    </div>
    <div id="INSTRUCTIONS" class="row active">
        <div class="card blue-grey darken-1 hoverable">
            <div class="card-content white-text row">
                <div class="col s12 m6">
                    <h5 class="card-title">Q: What are domain attributes are what is it for?</h5>
                    <p>A: Domain attributes refers to the:</p>
                    <ol>
                        <li>modules (subsystem)</li>
                        <li>actor (users)</li>
                        <li>actions (feature of the system)</li>
                    </ol>
                    <p>
                        These attributes will be used in requirement specification modules where you will describe how
                        each attribute is related to each other, which these details will be used to generate
                        requirements.
                    </p>
                </div>
                <div class="col s12 m6">
                    <img class="materialboxed" width="400px" src="./images/edit_domain.png"
                         data-caption="Flowchart on what are domain attribute and how is it related to requirement">
                </div>
            </div>
        </div>
    </div>
    <div id="modules" class="row">
        <div class="row valign-wrapper">
            <div class="col s8 m9 input-field">
                <label for="tbxModule">Module Name</label>
                <input id="tbxModule" type="text" list="newModules" ng-model="tbxModule"/>
                <datalist id="newModules">
                    <option ng-repeat="module in newModules" value="{{ module }}">{{ module }}</option>
                </datalist>
            </div>
            <div class="col s4 m3 valign">
                <button class="btn waves-effect waves-light col s12 m12" ng-click="addModule()">Add</button>
            </div>
        </div>
        <div class="row">
            <table class="highlight">
                <thead>
                <tr>
                    <td colspan="2">Module</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="module in project.domainData.modules track by $index">
                    <td ng-bind="module"></td>
                    <td>
                        <a class="waves-effect waves-light btn red" ng-click="deleteModule(module, $index)">
                            <i class="material-icons left">delete</i>Delete
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" ng-if="project.domainData.modules.length == 0">
                        No module found
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="actors" class="row">
        <div class="row valign-wrapper">
            <div class="col s8 m9 input-field">
                <label for="tbxActor">Actor Name</label>
                <input id="tbxActor" type="text" list="newActors" ng-model="tbxActor"/>
                <datalist id="newActors">
                    <option ng-repeat="actor in newActors" value="{{ actor }}" ng-bind="actor"></option>
                </datalist>
            </div>
            <div class="col s4 m3 valign">
                <button class="btn waves-effect waves-light col s12 m12" ng-click="addActor()">Add</button>
            </div>
        </div>
        <div class="row">
            <table class="highlight">
                <thead>
                <tr>
                    <td colspan="2">Actor</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="actor in project.domainData.actors track by $index">
                    <td ng-bind="actor"></td>
                    <td>
                        <a class="waves-effect waves-light btn red" ng-click="deleteActor(actor, $index)">
                            <i class="material-icons left">delete</i>Delete
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" ng-if="project.domainData.actors.length == 0">
                        No actor found
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="actions" class="row">
        <div class="row valign-wrapper">
            <div class="col s8 m9 input-field">
                <label for="tbxAction">Action Name</label>
                <input id="tbxAction" type="text" list="newActions" ng-model="tbxAction"/>
                <datalist id="newActions">
                    <option ng-repeat="action in newActions" value="{{ action }}" ng-bind="action"></option>
                </datalist>
            </div>
            <div class="col s4 m3 valign">
                <button class="btn waves-effect waves-light col s12 m12" ng-click="addAction()">Add</button>
            </div>
        </div>
        <div class="row">
            <table class="highlight">
                <thead>
                <tr>
                    <td colspan="2">Action</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="action in project.domainData.actions track by $index">
                    <td ng-bind="action"></td>
                    <td>
                        <a class="waves-effect waves-light btn red" ng-click="deleteAction(action, $index)">
                            <i class="material-icons left">delete</i>Delete
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" ng-if="project.domainData.actions.length == 0">
                        No action found
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>