<div class="row valign-wrapper">
    <div class="valign col s8 m4">
        <div class="col s12 m6 input-field">
            <a class="btn waves-effect waves-light green col s12 m12" ng-click="saveProject()">
                <i class="material-icons left">done</i>Save
            </a>
        </div>
        <div class="col s12 m6 input-field">
            <a class="btn waves-effect waves-light red col s12 m12" ng-href="/#/projects/{{ project._id }}">
                <i class="material-icons left">power_settings_new</i>Back
            </a>
        </div>
    </div>
</div>
<div class="row valign-wrapper">
    <h4 class="col s12 m9 valign">Generated Requirements</h4>
    <div class="col s4 m3 valign">
        <button class="btn waves-effect waves-light col s12 m12" ng-click="addCheckedRequirements()">
            Add Requirements
        </button>
    </div>
</div>
<div class="row">
    <h6 class="col">
        <span ng-bind="numberRequirements || 0"></span> generated requirements from <span ng-bind="numberModules || 0"></span> modules.
        <span ng-bind="numberNewRequirements || 0"></span> requirements added.
    </h6>
</div>
<div class="row">
    <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
        <li ng-repeat="(moduleName, requirements) in generatedRequirements">
            <div class="collapsible-header active"><h5 ng-bind="moduleName"></h5></div>
            <div class="collapsible-body">
                <div class="row" ng-if="requirements.length > 0">
                    <ul>
                        <li ng-repeat="requirement in requirements track by $index">
                            <div class="input-field">
                                <input type="checkbox" ng-model="requirement.checked"
                                       id="{{ moduleName }}.{{ $index }}"/>
                                <label for="{{ moduleName }}.{{ $index }}"
                                       ng-bind="$formatter.requirementToString(requirement)"></label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row" ng-if="requirements.length == 0">
                    <div class="center-align">
                        <h5 class="header">No more requirements can be generated</h5>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<script>
    setTimeout(function () {
        $('.collapsible').collapsible({
            accordion: false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
    }, 500);
</script>