<div class="row valign-wrapper">
    <div class="valign col s8 m4">
        <div class="col s12 m6 input-field">
            <a class="btn waves-effect waves-light green col s12 m12" ng-click="saveProject()">
                <i class="material-icons left">done</i>Save
            </a>
        </div>
        <div class="col s12 m6 input-field">
            <a class="btn waves-effect waves-light red col s12 m12" ng-href="/#/projects/{{ project._id }}">
                <i class="material-icons left">power_settings_new</i>Back
            </a>
        </div>
    </div>
</div>
<div class="row" ng-if="generatedRequirements.length > 0">
    <h4 class="header">Generated Requirements</h4>
    <div class="row">
        <ul>
            <li ng-repeat="requirement in generatedRequirements track by $index">
                <div class="input-field">
                    <input type="checkbox" ng-model="requirement.checked" id="requirement.{{ $index }}"/>
                    <label for="requirement.{{ $index }}" ng-bind="$formatter.requirementToString(requirement)"></label>
                </div>
            </li>
        </ul>
    </div>
    <div class="col s4 m3 push-s8 push-m9">
        <button class="btn waves-effect waves-light col s12 m12" ng-click="addCheckedRequirements()">Add Requirements</button>
    </div>
</div>
<div class="row" ng-if="generatedRequirements.length == 0">
    <div class="col s12 m12 card card-panel waves-light waves-effect center-align green">
        <h5 class="header">No requirement can be generated</h5>
    </div>
</div>