<div class="parallax-container margin-top-neg-10">
    <div class="parallax"><img src="images/parallax1.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Problems in Requirement Specification</h2>
        <blockquote class="row">
            <span class="flow-text row">
                Requirements were frequently written in ambiguous sentences and inconsistent manner which confuses reader,
                and incomplete which fails to specify all the important and core requirements.
            </span>
            <span class="right grey-text">(Bures et al. 2012)</span>
        </blockquote>
        <blockquote class="row">
            <span class="flow-text row">
                Functional requirements were often left out from requirement specification
            </span>
            <span class="right grey-text">(Azuma 2004)</span>
        </blockquote>
        <blockquote class="row">
            <span class="flow-text row">
                $81 billion was wasted on cancelled project and $59 billion was incurred for project extensions.
                The main factor that causes projects to be cancelled was also due to incomplete requirements of product.
            </span>
            <span class="right grey-text">(Clancy 1995)</span>
        </blockquote>
        <blockquote class="row">
            <span class="flow-text row">
                Inaccurate requirement gathering is the root cause of 38% of failed projects.
            </span>
            <span class="right grey-text">(Project Management Institute 2015)</span>
        </blockquote>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="images/parallax2.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Our Objectives</h2>
        <div class="flow-text">
            To design and develop a tool that utilize boilerplates to assists user in requirement elicitation and
            specification phases and improve the quality of generated requirement as well as to produce a correct,
            complete and consistent software requirement specification (SRS)
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="images/parallax3.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <div class="col push-s1 s10 push-m2 m8 input-field">
            <a class="btn waves-effect waves-light green col s12 m12" ng-href="/#/home">
                <i class="material-icons left">play_arrow</i>Check out our solution
            </a>
        </div>
    </div>
</div>
<script>
    // Make parallax
    $('.parallax').parallax();
</script>