<div class="navbar-fixed no-print margin-bottom-10">
    <nav>
        <div class="nav-wrapper">
            <a ng-href="/#/" class="brand-logo">Software Requirement Specification Tool</a>
            <ul id="nav-mobile" class="right">
                <li>
                    <a href="/#/home">Projects</a>
                </li>
                <li ng-if="$user.user">
                    <a class="dropdown-button" data-activates="dropdown">
                        <i class="material-icons right">arrow_drop_down</i><span ng-bind="$user.user.name"></span>
                    </a>
                </li>
                <li ng-if="!$user.user">
                    <a href="/auth/facebook?redirect=home">Login with Facebook</a>
                </li>
            </ul>
        </div>
    </nav>
    <ul id="dropdown" class="dropdown-content" ng-if="$user.user">
        <li>
            <a href="/auth/logout">Log Out</a>
        </li>
    </ul>
</div>
<script>
    setTimeout(function () {
        $(".dropdown-button").dropdown();
    }, 500);
</script>