<div class="row valign-wrapper">
    <h4 class=" col s12 m8 valign">Configure Performance Constraint</h4>
    <div class="valign col s8 m4">
        <div class="col s12 m6 input-field">
            <a class="btn waves-effect waves-light green col s12 m12" ng-click="saveProject()">
                <i class="material-icons left">done</i>Save
            </a>
        </div>
        <div class="col s12 m6 input-field">
            <a class="btn waves-effect waves-light red col s12 m12" ng-click="back()">
                <i class="material-icons left">power_settings_new</i>Back
            </a>
        </div>
    </div>
</div>
<div class="row">
    <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
        <li>
            <div class="collapsible-header active blue white-text">
                Instructions<i class="material-icons right">announcement</i>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="col s12 m6">
                        <p>
                            For each action in this domain, certain constraint can be introduced to the action
                            <br/>
                            The constraint will describe performance, time behaviour or resource usage of the action
                            <br/>
                            <br/>
                            For example, the most commonly introduced performance constraints are:
                            <br/>
                            - Number of completed action (performance)
                            <br/>
                            - Page response time (time behaviour)
                            <br/>
                            - RAM usage (resource usage)
                        </p>
                    </div>
                    <div class="col s12 m6">
                        <h5 class="row">Examples</h5>
                        <div class="col">
                            <img class="materialboxed margin-top-10 margin-bottom-10 bordered" width="300px"
                                 src="./images/performance_constraint_1.png"
                                 data-caption="Example of performance constraint with page load time which is less than 2 seconds">
                        </div>
                        <div class="col">
                            <img class="materialboxed margin-top-10 margin-bottom-10 bordered" width="300px"
                                 src="./images/performance_constraint_2.png"
                                 data-caption="Example of performance constraint with maximum RAM usage of 20MB">
                        </div>
                        <div class="col">
                            <img class="materialboxed margin-top-10 margin-bottom-10 bordered" width="300px"
                                 src="./images/performance_constraint_3.png"
                                 data-caption="Example of performance constraint of minimum HTTP responses per second">
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li ng-repeat="action in project.domainData.actions">
            <div class="collapsible-header active">
                <h5>
                    <span ng-bind="action"></span>
                    <span class="badge white-text light-green"
                          ng-bind="getConstraintCount(action)"></span>
                </h5>
            </div>
            <div class="collapsible-body">
                <div class="row valign-wrapper">
                    <div class="col s4 m3 input-field">
                        <label for="{{ action }}.constraint" class="active">Constraint Name</label>
                        <input id="{{ action }}.constraint" type="text"
                               ng-model="performanceConstraintData[action].constraint"/>
                    </div>
                    <div class="col s4 m3 input-field">
                        <select id="{{ action }}.option"
                                ng-model="performanceConstraintData[action].option"
                                ng-options="option for option in $performanceConstraintOptions">
                            <option value="" disabled>Choose an option</option>
                        </select>
                        <label>Value Option</label>
                    </div>
                    <div class="col s4 m3 input-field">
                        <label for="{{ action }}.value" class="active">Value</label>
                        <input id="{{ action }}.value" type="text"
                               ng-model="performanceConstraintData[action].value"/>
                    </div>
                    <div class="col s4 m3 valign">
                        <button class="btn waves-effect waves-light col s12 m12" ng-click="addConstraint(action)">Add
                        </button>
                    </div>
                </div>
                <div class="row" ng-if="project.performanceConstraintData[action].length > 0">
                    <table class="highlight">
                        <thead>
                        <tr>
                            <td>Constraint Name</td>
                            <td>Option</td>
                            <td>Value</td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in project.performanceConstraintData[action] track by $index">
                            <td ng-bind="data.constraint"></td>
                            <td ng-bind="data.option"></td>
                            <td ng-bind="data.value"></td>
                            <td>
                                <a class="waves-effect waves-light btn red" ng-click="deleteConstraint(action, $index)">
                                    <i class="material-icons left">delete</i>Delete
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
    </ul>
</div>