<div class="row no-print">
    <div class="col s8 m9 input-field">
        <a class="col s12 m12 dropdown-button btn blue instant-drop" data-activates="dropdown">
            <i class="material-icons left">play_for_work</i>Export as
        </a>
        <ul id="dropdown" class="dropdown-content">
            <li id="exportDocx">
                <a>
                    <i class="material-icons left">play_for_work</i>Microsoft Word (.doc)
                </a>
            </li>
            <li id="exportHTML">
                <a>
                    <i class="material-icons left">play_for_work</i>HTML (.html)
                </a>
            </li>
            <li id="exportPDF">
                <a>
                    <i class="material-icons left">play_for_work</i>Portable Document Format (.pdf) (beta)
                </a>
            </li>
        </ul>
    </div>
    <div class="col s4 m3 input-field">
        <a class="btn waves-effect waves-light red col s12 m12" ng-href="/#/projects/{{ project._id }}">
            <i class="material-icons left">power_settings_new</i>Back
        </a>
    </div>
</div>
<div id="content" class="row">
    <h1 id="projectName" ng-bind="project.projectName"></h1>
    <h2>Functional Requirements</h2>
    <div id="fr" class="row">
        <div class="row" ng-if="numberFunctionalRequirement > 0">
            <div ng-repeat="(moduleName, requirements) in project.generatedRequirements"
                 ng-if="$modules.Functional.indexOf(moduleName) >= 0">
                <h3 ng-bind="moduleName"></h3>
                <div ng-if="requirements.length > 0">
                    <ol ng-if="moduleName != 'Action Control'">
                        <li ng-repeat="requirement in requirements"
                            ng-bind="$formatter.requirementToString(requirement)"></li>
                    </ol>
                    <div ng-if="moduleName == 'Action Control'"
                         ng-repeat="(actor, actions) in actionControlRequirements track by $index">
                        <h4 ng-bind="'Actor ' + ($index + 1) + ': ' + actor"></h4>
                        <ol>
                            <li ng-repeat="requirement in actions"
                                ng-bind="$formatter.requirementToString(requirement)"></li>
                        </ol>
                    </div>
                </div>
                <div ng-if="requirements.length == 0">
                    No requirements specified for this module.
                </div>
            </div>
        </div>
        <div ng-if="numberFunctionalRequirement == 0">
            No functional requirements specified.
        </div>
    </div>
    <br/>
    <h2>Non-Functional Requirements</h2>
    <div id="nfr" class="row">
        <div class="row" ng-if="numberNonFunctionalRequirement > 0">
            <div ng-repeat="(moduleName, requirements) in project.generatedRequirements"
                 ng-if="$modules.NonFunctional.indexOf(moduleName) >= 0">
                <h3 ng-bind="moduleName"></h3>
                <div ng-if="requirements.length > 0">
                    <ol ng-if="moduleName != 'Access Control'">
                        <li ng-repeat="requirement in requirements"
                            ng-bind="$formatter.requirementToString(requirement)"></li>
                    </ol>
                    <div ng-if="moduleName == 'Access Control'"
                         ng-repeat="(module, actors) in accessControlRequirements track by $index">
                        <h4 ng-bind="'Module ' + ($index + 1) + ': ' + module"></h4>
                        <ol>
                            <li ng-repeat="requirement in actors"
                                ng-bind="$formatter.requirementToString(requirement)"></li>
                        </ol>
                    </div>
                </div>
                <div ng-if="requirements.length == 0">
                    No requirements specified for this module.
                </div>
            </div>
        </div>
        <div ng-if="numberNonFunctionalRequirement == 0">
            No non-functional requirements specified.
        </div>
    </div>
</div>