<div class="row valign-wrapper">
    <h4 class=" col s12 m8 valign" ng-bind="project.projectName"></h4>
    <div class="valign col s8 m4">
        <div class="col s12 m6 input-field">
            <a class="btn waves-effect waves-light green col s12 m12" ng-click="saveProject()">
                <i class="material-icons left">done</i>Save
            </a>
        </div>
        <div class="col s12 m6 input-field">
            <a class="btn waves-effect waves-light red col s12 m12" ng-href="/#/">
                <i class="material-icons left">power_settings_new</i>Back
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col input-field">
        <a class="btn waves-effect waves-light blue" ng-href="/#/projects/{{ project._id }}/edit">
            <i class="material-icons left">mode_edit</i>Edit Project
        </a>
    </div>
    <div class="col input-field">
        <a class="btn waves-effect waves-light blue" ng-href="/#/projects/{{ project._id }}/domain">
            <i class="material-icons left">code</i>Edit Domain
        </a>
    </div>
    <div class="col input-field">
        <a class="btn waves-effect waves-light blue" ng-href="/#/projects/{{ project._id }}/generate">
            <i class="material-icons left">note_add</i>Generate Requirements
        </a>
    </div>
    <div class="col input-field">
        <a class="btn waves-effect waves-light blue" ng-href="/#/projects/{{ project._id }}/boilerplate">
            <i class="material-icons left">settings</i>Configure Boilerplate
        </a>
    </div>
</div>
<div class="row">
    <div class="col s6 m4 input-field">
        <a class="col s12 m12 dropdown-button btn blue" data-activates="fr-dropdown">
            <i class="material-icons left">view_module</i>Specify Functional Requirements
        </a>
        <ul id="fr-dropdown" class="dropdown-content">
            <li ng-if="project.domainData.actions.length > 0 && project.domainData.actors.length > 0">
                <a class="waves-effect waves-light" ng-href="/#/projects/{{ project._id }}/action-control">
                    Configure Action Control
                </a>
            </li>
        </ul>
    </div>
    <div class="col s6 m4 input-field">
        <a class="col s12 m12 dropdown-button btn blue" data-activates="nfr-dropdown">
            <i class="material-icons left">view_module</i>Specify Non-Functional Requirements
        </a>
        <ul id="nfr-dropdown" class="dropdown-content">
            <li ng-if="project.domainData.modules.length > 0 && project.domainData.actors.length > 0">
                <a class="waves-effect waves-light" ng-href="/#/projects/{{ project._id }}/access-control">
                    Configure Access Control
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="col s12 m12 card card-panel waves-light waves-effect center-align green"
     ng-if="Object.keys(project.generatedRequirements).length == 0">
    <h5 class="header">No requirement found</h5>
</div>
<div class="row">
    <div class="row">
        <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
            <li ng-repeat="(moduleName, requirements) in project.generatedRequirements">
                <div class="collapsible-header active"><h5 ng-bind="moduleName"></h5></div>
                <div class="collapsible-body">
                    <div class="row" ng-if="requirements.length > 0">
                        <table class="highlight">
                            <thead>
                            <tr>
                                <td>#</td>
                                <td>Requirement</td>
                                <td>Actions</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="requirement in requirements track by $index">
                                <td>{{ $index + 1 }}</td>
                                <td>{{ $formatter.requirementToString(requirement) }}</td>
                                <td>
                                    <div class="input-field">
                                        <a class="btn waves-effect waves-light red"
                                           ng-click="removeRequirement(moduleName, $index)">
                                            <i class="material-icons left">delete</i>Delete
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row" ng-if="requirements.length == 0">
                        <div class="center-align">
                            <h5 class="header">No requirement found</h5>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script>
    setTimeout(function () {
        $('.collapsible').collapsible({
            accordion: false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
        $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrain_width: true, // Does not change width of dropdown to that of the activator
            hover: true,
            gutter: 0, // Spacing from edge
            belowOrigin: false, // Displays dropdown below the button
            alignment: 'left' // Displays dropdown with edge aligned to the left of button
        });
    }, 200);
</script>