<!-- Navigation bar actions -->
<div class="col-sm-12 padding-top-5 padding-bot-5 darkgrey">
    <div class="form-group col-sm-3">
        <a class="btn form-control" ng-href="/#/">Back</a>
    </div>
    <div class="form-group col-sm-offset-6 col-sm-3">
        <a class="btn btn-success form-control" ng-Click="saveProject()">Save Project</a>
    </div>
</div>

<!-- Project name -->
<div class="col-sm-12 margin-top-10">
    <div class="col-sm-3">
        <label class="control-label">Project Name: </label>
    </div>
    <div class="form-group col-sm-6">
        <input class="form-control" type="text" ng-model="project.projectName"/>
    </div>
</div>

<!-- Domain Name -->
<div class="col-sm-12">
    <div class="col-sm-3">
        <label class="control-label">Domain Name: </label>
    </div>
    <div class="form-group col-sm-6">
        <input class="form-control" type="text" ng-model="project.domainData.domainName" list="domains"/>
        <datalist id="domains">
            <option ng-repeat="domainName in domainNames" value="{{ domainName }}">{{ domainName }}</option>
        </datalist>
    </div>
</div>

<!-- Navigation pills -->
<div class="col-sm-12 scrollable-x">
    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="!#modules">Modules</a></li>
        <li><a data-toggle="pill" href="!#actors">Actors</a></li>
        <li><a data-toggle="pill" href="!#actions">Actions</a></li>
    </ul>
    <div class="tab-content">

        <!-- Module pil -->
        <div id="modules" class="tab-pane fade in active">
            <div class="col-sm-2">
                <label class="control-label" for="tbxModule">Module</label>
            </div>
            <div class="col-sm-7 form-group">
                <input class="form-control" type="text" id="tbxModule" list="newModules" ng-model="tbxModule" />
                <datalist id="newModules">
                    <option ng-repeat="module in newModules" value="{{ module }}">{{ module }}</option>
                </datalist>
            </div>
            <div class="col-sm-3 form-group">
                <div class="btn btn-success form-control" ng-click="AddModule()">Add</div>
            </div>
            <h3 class="h3" ng-if="project.domainData.modules.length == 0">No module found</h3>
        </div>

        <!-- Actor pil -->
        <div id="actors" class="tab-pane fade">
            <h3 class="h3" ng-if="project.domainData.actors.length == 0">No actor found</h3>
        </div>

        <!-- Action pil -->
        <div id="actions" class="tab-pane fade">
            <h3 class="h3" ng-if="project.domainData.actions.length == 0">No action found</h3>
        </div>
    </div>
</div>

