<div class="row valign-wrapper">
    <h4 class=" col s12 m8 valign">Configure Access Control</h4>
    <div class="valign col s8 m4">
        <div class="col s12 m6 input-field">
            <a class="btn waves-effect waves-light green col s12 m12" ng-click="saveProject()">
                <i class="material-icons left">done</i>Save
            </a>
        </div>
        <div class="col s12 m6 input-field">
            <a class="btn waves-effect waves-light red col s12 m12" ng-href="/#/projects/{{ project._id }}">
                <i class="material-icons left">power_settings_new</i>Back
            </a>
        </div>
    </div>
</div>
<div class="row">
    <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
        <li ng-repeat="action in project.domainData.actions">
            <div class="collapsible-header active"><h5 ng-bind="action"></h5></div>
            <div class="collapsible-body">
                {{action}}
            </div>
        </li>
    </ul>
</div>
<script>
    setTimeout(function () {
        $('.collapsible').collapsible({
            accordion: false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
    }, 500);
</script>